/* Analytics B Test */

/*
 * Global
 */
 body {
  font-size: .875rem;
}
.h1, h1 {
  font-size: 1.75rem;
}
.h2, h2 {
  font-size: 1.25rem;
}
.h3, h3 {
  font-size: 1rem;
}
.h4, h4 {
  font-size: .875rem;
}
.interactive {
  border-color: #007bff;
}
.success {
  border-color: #28a745;
}

/*
 * Content
 */
#main {
  padding-top: 56px;
  height: 100vh;
}
.search {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.search .form-group {
  margin-bottom: 0;
}
.tips {
  float: right;
  line-height: 1;
  cursor: pointer;
}
.results,
.insights {
  height: calc(100vh - 194px);
}
.insights {
  padding-left: 0;
}
.insights .card-header .badge,
.insight-results,
.loader {
  display: none;
}
.visualization-area,
.insights .card {
  height: 100%;
}
.visualization {
  width: 100%;
}
.visualization .card-body {
  overflow: hidden;
  position: relative;
}
.visualization-placeholder .chart-type,
.insights-placeholder .insights-icon {
  font-size: 2rem;
}
.visualization-placeholder,
.insights-placeholder,
.loader {
  position: absolute;
  top: 50%;
  left: .75rem;
  right: .75rem;
  transform: translateY(-50%);
}
.visualization-chart {
  display: none;
  position: absolute;
  top: .75rem;
  bottom: .75rem;
  left: .75rem;
  right: .75rem;
  overflow: hidden;
}
.card {
  margin-bottom: 0;
}
.card-header,
.list-group-item {
  padding: .5rem .75rem;
}
.card-body {
  padding: .75rem;
}
.card-body .form-group {
  margin-bottom: 0;
}
.popover-body p:last-child,
.insight-results p:last-child {
  margin: 0;
}
.question {
  display: none;
  height: auto;
}
.question span {
  border-width: 1px;
  border-style: solid;
  border-radius: .25rem;
}
.modal-body p:last-child {
  margin-bottom: 0;
}

/*
 * Responsive
 */
@media only screen and (max-width : 767px) {
  .navbar-brand {
    font-size: .875rem;
  }
  #main {
    padding-top: 47px;
    padding-bottom: 15px;
    height: auto;
  }
  .search .form-group label {
    max-width: 80%;
  }
  .results,
  .insights {
    height: auto;
  }
  .visualization-area,
  .insights .card {
    min-height: 50vh;
  }
  .insights {
    padding-left: 15px;
    margin-top: 15px;
  }
}
